<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>resourceFileName</param-name>
        <param-value>WEB-INF/resources_mapping.txt</param-value>
    </context-param>
    <context-param>
        <param-name>authenticateFileName</param-name>
        <param-value>WEB-INF/authentication_resources.txt</param-value>
    </context-param>
    <context-param>
        <param-name>adminResourceFileName</param-name>
        <param-value>WEB-INF/admin_resources.txt</param-value>
    </context-param>
    <context-param>
        <param-name>studentResourceFileName</param-name>
        <param-value>WEB-INF/student_resources.txt</param-value>
    </context-param>
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>sonpc.filters.FilterDispatcher</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>sonpc.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>sonpc.filters.AuthorizationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExceptionFilter</filter-name>
        <filter-class>sonpc.filters.ExceptionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExceptionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>sonpc.listeners.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sonpc.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sonpc.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>sonpc.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>sonpc.servlets.CreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadQuestionServlet</servlet-name>
        <servlet-class>sonpc.servlets.LoadQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSubjectListServlet</servlet-name>
        <servlet-class>sonpc.servlets.LoadSubjectListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainSearchQuestionServlet</servlet-name>
        <servlet-class>sonpc.servlets.MainSearchQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByNameServlet</servlet-name>
        <servlet-class>sonpc.servlets.SearchByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBySubjectServlet</servlet-name>
        <servlet-class>sonpc.servlets.SearchBySubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <servlet-class>sonpc.servlets.UpdateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>sonpc.servlets.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sonpc.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSubjectListForCreateTestServlet</servlet-name>
        <servlet-class>sonpc.servlets.LoadSubjectListForCreateTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTestServlet</servlet-name>
        <servlet-class>sonpc.servlets.CreateTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllQuestionServlet</servlet-name>
        <servlet-class>sonpc.servlets.SearchAllQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSubjectListForStudentServlet</servlet-name>
        <servlet-class>sonpc.servlets.LoadSubjectListForStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadListOfTestServlet</servlet-name>
        <servlet-class>sonpc.servlets.LoadListOfTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttempQuizServlet</servlet-name>
        <servlet-class>sonpc.servlets.AttempQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTestQuestionServlet</servlet-name>
        <servlet-class>sonpc.servlets.CreateTestQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTestDetailServlet</servlet-name>
        <servlet-class>sonpc.servlets.ViewTestDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchForStudentServlet</servlet-name>
        <servlet-class>sonpc.servlets.SearchForStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitTestServlet</servlet-name>
        <servlet-class>sonpc.servlets.SubmitTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStudentTestServlet</servlet-name>
        <servlet-class>sonpc.servlets.ShowStudentTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/CreateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadQuestionServlet</servlet-name>
        <url-pattern>/LoadQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSubjectListServlet</servlet-name>
        <url-pattern>/LoadSubjectListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainSearchQuestionServlet</servlet-name>
        <url-pattern>/MainSearchQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByNameServlet</servlet-name>
        <url-pattern>/SearchByNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBySubjectServlet</servlet-name>
        <url-pattern>/SearchBySubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <url-pattern>/UpdateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSubjectListForCreateTestServlet</servlet-name>
        <url-pattern>/LoadSubjectListForCreateTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTestServlet</servlet-name>
        <url-pattern>/CreateTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllQuestionServlet</servlet-name>
        <url-pattern>/SearchAllQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSubjectListForStudentServlet</servlet-name>
        <url-pattern>/LoadSubjectListForStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadListOfTestServlet</servlet-name>
        <url-pattern>/LoadListOfTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttempQuizServlet</servlet-name>
        <url-pattern>/AttempQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTestQuestionServlet</servlet-name>
        <url-pattern>/CreateTestQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTestDetailServlet</servlet-name>
        <url-pattern>/ViewTestDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchForStudentServlet</servlet-name>
        <url-pattern>/SearchForStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitTestServlet</servlet-name>
        <url-pattern>/SubmitTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStudentTestServlet</servlet-name>
        <url-pattern>/ShowStudentTestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.html</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error_401.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error_403.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error_500.html</location>
    </error-page>
</web-app>
